- var level = userLevel
- var userID = userID
- var userName = userName
- var loggedIn = loggedIn
.jbar-container
header.navbar.navbar-fixed-top
	.navbar-inner
		nav.container-fluid
			a#mobileMenu.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="#") ERNIE
			.nav-collapse
				ul.nav
					li#home
						a(href="/") Home
					if(loggedIn == 'true')
						li#reports.forceLogIn
							a(href="/reports/") Reports
						li#timesheets.forceLogIn
							a(href="/timesheets/") Timesheets
						li#projects.forceLogIn
							a(href="/projects/") Projects
						li#projects.forceLogIn
							a(href="/graphs/") Graphs
						
				if(loggedIn == 'true')
					ul.nav.pull-right#user
						li.dropdown.forceLogIn
							a.dropdown-toggle(href="#", data-toggle="dropdown") You
								b.caret
							ul.dropdown-menu
								li
									a(href="/user/profile/") Profile
								li#sessionStart
									a(href="/session/start/") Start Session
								li.divider
								li#userLogOut
									a(href="/logout/") Log Out
					p.pull-right.forceLogIn.navbar-text
						a#userCount(href="#") 
							span#onlineUsers 0
							|  Users Online
						| Logged in as #{userName}
				

div#loading Loading....
div.modal.hide.fade#onlineUsersModal
	div.modal-header
		a.close(data-dismiss="modal") &times;
		h3 Online Users
	div.modal-body
		p Loading Users...
	div.modal-footer
		a(href="#", data-dismiss="modal").btn.btn-primary Close
		
div.modal.hide.fade#sessionIDModal
	div.modal-header
		a.close(data-dismiss="modal") &times;
		h3 Sessions
	div.modal-body
		h4 Share Current Session
		input.x-large.span5#sessionURL(readonly="readonly")
		h4 Create bi-directional Session
		label(for="newRoomName") Name of Session: 
		input#newRoomName(type="text") 
		a#createRoom(href="#") Create Room
	div.modal-footer
		a(href="#", data-dismiss="modal").btn.btn-primary Close
