- var level = userLevel
- var userID = userID
- var userName = userName
- var loggedIn = loggedIn
header.topbar
	.topbar-inner
		nav.container
			a.brand(href="#") ERNIE
			ul.nav
				li#home
					a(href="#") Home
				if(loggedIn == 'true')
				
					ul.nav#reports.forceLogIn
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") Reports
							ul.dropdown-menu
								li
									a(href="#") New
								li
									a(href="#") Edit
								li
									a(href="#") K.P.I
					ul.nav#employees.forceLogIn
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") Employees
							ul.dropdown-menu
								li
									a(href="#") New
								li
									a(href="#") Edit
								li
									a(href="#") You
					ul.nav#projects.forceLogIn
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") Projects
							ul.dropdown-menu
								li
									a(href="#") New
								li
									a(href="#") Edit
								li
									a(href="#") You
			p.pull-right.forceLogIn
				if(loggedIn == 'true')
					|Logged in as 
					a(href="#") emartin
					|.
					a(href="#")#userLogOut Log Out?
					a#onlineUsers(href="#onlineUsersModal", data-toggle="modal")
						span#numUsers
							|0 
						|   Users Online.

div#loading Loading....
div.modal.hide.fade#onlineUsersModal
	div.modal-header
		a.close(data-dismiss="modal") x
		h3 Online Users
	div.modal-body
		p Loading Users...
	div.modal-footer
		a(href="#", data-dismiss="modal").btn.btn-primary Close
