- var level = userLevel
- var userID = userID
- var userName = userName
header.topbar(data-dropdown="dropdown")
	.topbar-inner
		nav.container
			a.brand(href="#") ERNIE
			ul.nav
				li
					a(href="#")#home Home
				ul.nav.reports
					li.dropdown
						a.menu.dropdown-toggle(href="#") Reports
						ul.dropdown-menu
							li
								a(href="#") New
							li
								a(href="#") Edit
							li
								a(href="#") K.P.I
				ul.nav.employees
					li.dropdown
						a.menu.dropdown-toggle(href="#") Employees
						ul.dropdown-menu
							li
								a(href="#") New
							li
								a(href="#") Edit
							li
								a(href="#") You
				ul.nav.projects
					li.dropdown
						a.menu.dropdown-toggle(href="#") Projects
						ul.dropdown-menu
							li
								a(href="#") New
							li
								a(href="#") Edit
							li
								a(href="#") You
			p.pull-right
				|Logged in as 
				a(href="#") emartin
				|.
				a#onlineUsers(href="#", data-backdrop="true", data-controls-modal="onlineUsersModal", data-keyboard="true")
					span#numUsers
						|0 
					|   Users Online.

div#loading Loading....
div#onlineUsersModal.modal.hide.fade
	div.modal-header
		a(href="#").close &times;
		h3 Online Users
	div.modal-body
		p Loading Users
	div.modal-footer
		a(href="#").btn.primary.close-modal Ok
