section.content
	article.hero-unit#login
		h2 Login!
		form#loginForm
			fieldset
				legend#loginText Please enter your username and password.
				.clearfix
					label(for = 'username') Username
					.input 
						input(type='text', name='username', id='username')
				.clearfix
					label(for = 'password') Password 
					.input
						input(type='password', name='password', id='password')
				.clearfix
					input(class='btn btn-primary', type='submit', id='loginButton', value='Log In!')