form.form-horizontal#timesheetForm
	fieldset
		legend Add New Timesheet Entry
		div.control-group
			label.control-label(for="projectInput") Project
			div.controls
				.input-append
					input#projectInput.input-xlarge(type="text", name = 'projectText', data-provide="typeahead", required)
					span.hide.add-on.reset-project &times;
				p.help-block Start typing the name or ID of the project then select from the dropdown provided.
				
		div.control-group
			label.control-label(for="taskMain") Task
			div.controls.form-inline
				select#taskMain(name = 'parentTask')
				select#taskSub(name = 'task_id')
		.control-group
			label.control-label(for="date_worked") Date:
			div.controls
				input#date_worked(type="date", name = 'date_worked', required)
		.control-group
			label.control-label(for="startTime") Start:
			.controls.form-inline
				input.timepicker#startTime(type="time", name = 'start_time', value = '09:00', required)
		.control-group
			label.control-label.warning(for="endTime") End: 
			.controls
				.input
					input.timepicker#endTime(type="time", name = 'end_time', value = '09:15', required)
				p.help-block

		div.control-group
			label.control-label(for="textarea") Comments
			div.controls
				textarea.input-xlarge#comments(rows="3", name = 'comments')
		
		div.form-actions
			button#submitTimesheet.btn.btn-primary.btn-large(type="submit", data-loading-text="Submitting...") Submit Timesheet 
			button.btn(type="reset") Cancel
			