.content
	div#graphContainer(style="width: 100%; height: 400px")
	
	.newType
		select#newType
			option(value="pie") Pie
			option(value="bar") Bar
			option(value="column") Column
			option(value="area") Area
			option(value="line") Line
		a.btn#changeChart Change Chart Type
		a.btn#addToChart Add Point
	
		


