- var loggedIn = loggedIn
!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.18.custom.css')
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="/javascripts/mwheelIntent.js")
    script(src="/javascripts/jquery.mousewheel.min.js")
    script(src="/javascripts/jquery.scrollpane.min.js")
    script(src="/javascripts/jquery.tools.min.js")
    script(src="/javascripts/modernizr.js")
    script(src="/javascripts/jquery-cookie.js")
    script(src="/javascripts/jquery.inlog.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/json.js")
    script(src="/javascripts/serializeObject.js")
    script(src="/javascripts/functions.js")
    script(src="/javascripts/jquery.loadingdotdotdot.js")
    script(src="/javascripts/highcharts.js")
    script(src="/javascripts/exporting.js")
    script(src="/javascripts/date.js")
    script(src="/javascripts/ttw-simple-notifications-min.js")
    script(src="/javascripts/underscore-min.js")
    script(src="/javascripts/misc.js")
    script(src="/javascripts/jquery-ui-1.8.18.custom.min.js")
    script(src="/javascripts/app.js")
  body#body
    .outer
      include includes/head
      if(loggedIn == 'true')
        .container!= body
          include includes/footer
      else
        .container
          include includes/login
          include includes/footer