section.content
	article.hero-unit
		h1 Welcome
		p ERNIE is the replacement for the current MIS system used by Brandt Technologies. Written using jQuery, node.js, HTML5, CSS3, JADE, LESS and using designs from the Twitter Bootstrap it allows for a much cleaner and responsive MIS system. Features include:
			ol
				li Modern layout
				li Real-time updating
				li Multi-user editing
				li Sessions
				li Chat
				li Easier Reporting
		p
			a.btn.btn-primary.btn-large Learn more &raquo;
			
