article.module.width_half.dashboard.column
	header
		h3 Add Employee
	div.module_content
		form#addEmployee
			fieldset
				label(for="name") Name:
				input(type="text", required, id="name", name="name")
				label(for="position") Position:
				input(type="text", required, id="position", name="position")
				label(for="email") Email:
				input(type="email", id="email", required, name="email")
				
				input(type="submit", class="submit_link", value="Add!", id="clickAdd")
				
				
article.module.width_half.column
	header
		h3 Employees
	div.module_content
		ul#database
			img(src='/images/ajax-loader.gif', id ='loader')

div.clear