section.content
		article.report
			h3#employeeName.pull-right
			.row
				.span3
					aside.well
						ul#availableTimesheets.nav.nav-list
							li.nav-header Active Timesheets
							ul#activeTimesheets.nav.nav-list
								li
									span
							li.nav-header Available Timesheets
							ul#unusedTimesheets.nav.nav-list
							
				.span9
					section#timesheets

								
		
		