section.content
	ul#tab.nav.nav-tabs
		li.active
			a(href="#add", data-toggle="tab") Add
		li
			a(href="#review", data-toggle="tab") Review


	.tab-content
		#add.tab-pane.fade.in.active
			include includes/timesheets_add
		#review.tab-pane.fade 
			include includes/timesheets_review
		
	hr
