@import "/public/stylesheets/bootstrap.less";
@import "/public/stylesheets/responsive.less";

body {
	padding-top: 60px;
}

#loading {
    position: fixed;
    top: 10;
    left: 0;
    text-align: left;
    height: 15px;
    color: #FFFFFF;
    z-index: 14000;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(51);
}

.checkboxToggle {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

table {
  .table;
  .table-bordered;
  .table-striped;
}

.reset-project {
  display:none;
  &:hover {
    color: @black;
    cursor: pointer;
  }
}

table.projectsTable tr:hover {
	cursor: pointer;
}

.linked-icon i {
	.opacity(40);
	.transition(all 0.5s ease-in-out);
	&:hover {
		.opacity(100);
		cursor:pointer;
	}
}

table.timesheetDisplay {
  // Cells
  th,
  td {
    border: none;
  }
  // Remove top border from thead by default
  thead:first-child tr th,
  thead:first-child tr td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border:none;
  }

}




@import "/public/stylesheets/notifications.less";
@import "/public/stylesheets/date-input.less";

