@import "/public/stylesheets/bootstrap.less";
@import "/public/stylesheets/responsive.less";

body {
	padding-top: 60px;
}

#loading {
    position: fixed;
    top: 10;
    left: 0;
    text-align: left;
    height: 15px;
    color: #FFFFFF;
    z-index: 14000;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(51);
}

.checkboxToggle {
   position:absolute;
   left: -9999px;
}

table {
  .table;
  .table-bordered;
  .table-striped;
}

.reset-project {
  display:none;
  &:hover {
    color: @black;
    cursor: pointer;
  }
}

table.projectsTable tr:hover {
	cursor: pointer;
}

a[rel=tooltip] {
	cursor: pointer;
}
.linked-icon i {
	.opacity(41);
	.transition(all 0.5s ease-in-out);
	&:hover {
		.opacity(100);
		cursor:pointer;
	}
}

table.timesheetDisplay {
  // Cells
  th,
  td {
    border: none;
  }
  // Remove top border from thead by default
  thead:first-child tr th,
  thead:first-child tr td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border:none;
  }

}

nav.sessions span.title
{
	position: absolute;
	right: -9999px;
	white-space: nowrap;
	.transition(all 0.5s ease-in-out 1s); /* Delay for hover out */
}
nav.sessions {
	position: relative;
    width:50px;
    position:fixed;
    top:100px;
    right:0px;
    border-right: none;
    overflow: hidden;
    .transition(all 0.5s ease-in-out 1s); /* Delay only effects hover out, see here: http://css-tricks.com/different-transitions-for-hover-on-hover-off/ */

	&:hover {
		.transition(all 0.5s ease-in-out); /* Default transition */
    	width: 240px;
    	.title {
    		right: 20px;
			.transition(all 0.5s ease-in-out); /* Default transition for span.title */
    	}
    }
    i {
    	margin-left: -10px;
    }
    
    .badge {
    	position: relative;
    	margin-left: 15px;
    	top: -10px;
    }

}

ul.activeSessions {
	width: 235px;
	height: 250px;
	overflow-y: auto;
	margin-left: -5px;
	li {
		padding: 3px;
		list-style: none;
		white-space: normal;
	}
}

li.availableSession {
	display: block;
	a {
		color: green;
	}
	cursor: pointer;
}

li.unavailableSession {
	display: block;
	a {
		color: red;
	}
	cursor:default;
}

.sessionBox {
	position: fixed;
    bottom: 0;
    left: -1px;
    text-align: center;
	background: #FF0000;
    height: 15px;
    color: #FFFFFF;
    z-index: 15000;
	border: 1px solid #FFFFFF;
	border-bottom: none;
	.box-shadow();
	padding: 3px;
	.opacity(40);
	.transition(all 0.5s ease-in-out);
	a {
		color: #EEEEEE;
	}
	&:hover {
		.opacity(100);
	}
}

table#newSessionForm {

	border: none;
	td {
		border: none;
	}
}


div#chat {
	padding: 0px;
    ul.chatMessages {
    	width: 240px;
    	height: 400px;
    	margin-left: -5px;
    	overflow-y: auto;
    	li {
    		padding: 7px;
	    	list-style: none;
	    	white-space: normal;
	    	border-bottom: 1px solid #ccc;
    	}
    }
	.infoMessage {
    	width: 100%;
    	padding: 3px;
    	font-size: 10px;
    	background-color: #eee;
    	border-top: 1px solid #ccc;
    	border-bottom: 1px solid #ccc;
		
    }
	.chatInput {
		margin: 5px;
	}
}

.reportDrag {
	cursor: move;
}
.placeholder{  
    background: #f0f0f0;  
    border:1px dashed #ddd;  
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/*scrollpane custom CSS*/
.jspVerticalBar {
    width: 8px;
    background: transparent;
    right:10px;
}
 
.jspHorizontalBar {
    bottom: 5px;
    width: 100%;
    height: 8px;
    background: transparent;
}
.jspTrack {
    background: transparent;
}
 
.jspDrag {
    background: url(../images/transparent-black.png) repeat;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
 
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}
 
.jspCorner {
    display:none
}

.notification-count {
	color: white;
	margin-left: 15px;
	background-color: #FF0000;
	border-radius: 5px;
}
/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}


/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 215px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 215px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 215px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}
@import "/public/stylesheets/notifications.less";
@import "/public/stylesheets/date-input.less";

